@font-face {
    font-family: 'Heavyheap';
    src:  url('../fonts/heavyheap-webfont.woff2') format('woff2'),
          url('../fonts/heavyheap-webfont.woff') format('woff');
  }

.header {
    background-color: #0a3453;
    color: white;
    text-align: center;
}

.header h1 a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: Heavyheap, Arial, sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 20px 0 10px 0;
}

.header p {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 20px;
}