
.vehicleInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.vehicleInfo span {
    color: #ffcb33;
}

.vehicleInfo .price {
    color: #222;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

